<launch>
    <!-- Nao temos sensores -->
   <!--<node pkg="sensor_node_pkg" type="sensor_node_type" name="sensor_node_name" output="screen">
    <param name="sensor_param" value="param_value" />
 </node>-->
 
 <!-- Odometria e TF -->
 <node pkg="navigation" type="odom_pub_simul.py" name="odom_node" output="screen">
    <!--<param name="odom_param" value="param_value" />-->
 </node>

</launch> 