<launch>
    <node name="odom_pub_node" pkg="navigation" type="odom_pub_simul.py" output="screen"/>
    <node name="cmd_vel_converter_node" pkg="navigation" type="cmd_vel_to_ackermann_drive.py" output="screen"/>
    <node name="teleop" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen"/>
</launch>