<launch>

  <!--node name="i2c_master" pkg="robot_control" type="i2c_master.py" /--> 

 <!-- joy node -->
  <node respawn="true" pkg="joy"
        type="joy_node" name="turtle_joy" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
  </node>


  <!-- Carregar parâmetros do arquivo config.yaml -->
  <rosparam file="$(find learning_joy)/config/joy.yaml" command="load" />

  <!-- Iniciar o nó hw_interface -->
  <node name="teleop_joy" pkg="learning_joy" type="joycontrol" output="screen" />
</launch>